@font-face {
    font-family: 'Alex Brush';
    src: url(fonts/AlexBrush-Regular.woff2) format('woff2'),
        url(fonts/AlexBrush-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}


#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}

#logo-background {
    display: flex;
    background-image: url("form-images/josh-hild-0iVc9rMALRM-unsplash.jpg");
    flex: 2;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
}

#info {
    display: flex;
    flex: 3;
}

#logo img {
    height: 80px;
    width: 80px;
}

#logo {
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    width: 100%;
    height: 120px;
    font-family: 'Alex Brush', serif;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#credits a {
    color: white;
}

#credits {
    color: white;
}

#info {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: space-evenly;
    background-color: #f6f6f6;
}

input {
    border: 2px solid #e5e7eb;
    border-radius: 10%;
    width: 170px;
}

#info p {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 25px;
}

#welcome {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 90px 60px 0px 40px;
    line-height: 20px;
    font-weight: bold;
    font-size: 15px;
}

#form-info {
    display: flex;
    flex: 1;
    background-color: white;
    padding: 0px 60px 0px 40px;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#submit {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 30px 60px 0px 40px;
}

#submit-it {
    height: 35px;
    width: 150px;
    background-color: #5c694e;
    border-radius: 10px;
}

label {
    color: rgb(92, 87, 87);
    font-size: 10px;
}


