@font-face {
    font-family: 'Alex Brush';
    src: url(fonts/AlexBrush-Regular.woff2) format('woff2'),
        url(fonts/AlexBrush-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}

#logo-background {
    display: flex;
    background-image: url("form-images/josh-hild-0iVc9rMALRM-unsplash.jpg");
    flex: 2;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
}

#info {
    display: flex;
    flex: 3;
}

#logo img {
    height: 80px;
    width: 80px;
}

#logo {
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    width: 100%;
    height: 120px;
    font-family: 'Alex Brush', serif;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#credits a {
    color: white;
}

#credits {
    color: white;
}
